.toodoolist {
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.listitem {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
  outline: none;
}
